.task-content {
  cursor: pointer;
}
.task-content.open {
  max-width: 400px;
  margin-right: 0 !important;
}
.task-content.closed {
  width: 200px;
  margin-right: 0 !important;
}
.task-content-open-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}
